<header>
   <nav class="brand">
      <div class="brand-logo">
         <a href="/">
            <div class="logo">
               <span class="fa fa-qrcode"></span>&ThinSpace;JavaTechnovation </div>
         </a>
      </div>
      <div class="brand-right-side">
         <span class="slogan">Furnishing software solutions that works!</span>
      </div>
   </nav>
</header>