<footer class="p-3">
   <section class="footer-info">
      <a title='JavaTechnovation' href='/company'>
         <span class='fa fa-qrcode footer-logo'></span>
      </a>
      <div> Copyright<sup> &copy; </sup><span>2023 JavaTechnovation Co. All rights
            reserved.</span>
      </div>
   </section>
   <section class="options">
      <a class="privacy-policy" href="/policy">Privacy Policy</a>|<a class="cookie-preferences"
         href="/preferences">Cookie Preferences</a>
   </section>
   <section class='footer-social-media'>
      <a href='https://www.facebook.com'><span class='bi bi-facebook'></span></a>
      <a href='https://www.instagram.com'><span class='bi bi-instagram'></span></a>
      <a href='https://www.twitter.com'><span class='bi bi-twitter'></span></a>
      <a href='https://www.linkedin.com'><span class='bi bi-linkedin'></span></a>
      <a href='https://www.discord.com'><span class='bi bi-discord'></span></a>
      <a href='https://www.reddit.com'><span class='bi bi-reddit'></span></a>
   </section>
   This site is protected by hCaptcha and its Privacy Policy and Terms of Service apply.
</footer>
<script src="/assets/js/jquery.min.js"></script>