<header class="prime-nav title">
   <ul class="prime-nav-menu list-unstyled text-light hstack just p-2">
      <li>
         <a class="nav-link" href="#hot-tech"><span class="bi bi-cpu-fill"></span> Vogue Tech </a>
      </li>
      <li>
         <a class="nav-link" href="#tech-courses"><span class="bi bi-stack"></span> Our
            Technologies </a>
      </li>
      <li>
         <a class="nav-link" href="/demos"><span class="bi bi-save"></span> Sofware Demo </a>
      </li>
      <li>
         <a class="nav-link" href="/guest/support-line"><span class="bi bi-headset"></span> 24/7
            Support </a>
      </li>
      <li>
         <a class="nav-link" href="/donation"><span class="bi bi-heart-fill"></span> Buy Us a
            Coffee</a>
      </li>
      <li>
         <a class="nav-link" href="/forums"><span class="bi bi-megaphone-fill"></span> Live Forums
         </a>
      </li>
      <li>
         <a class="nav-link" href="/news-and-press"><span class="bi bi-newspaper"></span> News
            Titbit </a>
      </li>
   </ul>
</header>