<meta charset='UTF-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no' />
<meta name='application-name' content='JavaTechnovation Co. Portfolio' />
<meta name='creator' content='JavaTechnovation Co.' />
<meta name='author' content='TheMahdMedia' />
<meta name='keywords'
   content='javatechnovation,software development,frontend,backend,full-stack,tutorials,ICT consulting,online services,quality tech products' />
<link rel='shortcut icon' href='/favicon.svg' type='image/svg' />
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/font-awesome/css/all.min.css' />
<link rel='stylesheet' href='/bi/bootstrap-icons.css' />
<title>{{title}} | JavaTechnovation</title>