<nav class="navigation">
   <div class="navigation-left-side">
      <div class="navigation-logo">
         <a href="/">
            <div class="logo">
               <span class="fa fa-qrcode"></span>JavaTechnovation Co.<span class="slogan">Software
                  solutions that work!</span>
            </div>
         </a>
      </div>
   </div>
   <div class="navigation-right-side">
      <ul class="navigation-menu">
         <li>
            <a href="/company">
               <span class="bi bi-chevron-right"></span> Company Profile </a>
         </li>
         <li>
            <a href="/about">
               <span class="bi bi-code-slash"></span> About the Developers </a>
         </li>
         <li>
            <a href="/products-and-services">
               <span class="bi bi-cloud-haze2"></span> Products &amp; Services </a>
         </li>
         <div class="second-nav">
            <li>
               <a href="/hot-tech"><span class="bi bi-cpu-fill"></span> Vogue Tech </a>
            </li>
            <li>
               <a href="/guiding-principles"><span class="bi bi-stack"></span> Our Methodologies
               </a>
            </li>
            <li>
               <a href="/demos"><span class="bi bi-save"></span> Sofware Demo </a>
            </li>
            <li>
               <a href="/guest/support-line"><span class="bi bi-headset"></span> 24/7 Support </a>
            </li>
            <li>
               <a href="/donation"><span class="bi bi-heart-fill"></span> Buy Us a Coffee</a>
            </li>
            <li>
               <a href="/forums"><span class="bi bi-megaphone-fill"></span> Live Forums </a>
            </li>
            <li>
               <a href="/news-and-press"><span class="bi bi-newspaper"></span> News Titbit </a>
            </li>
         </div>
      </ul>
      <div class="navigation-hamburger-container">
         <div class="navigation-hamburger"></div>
      </div>
   </div>
</nav>