<!DOCTYPE html>
<html dir="ltr" lang="en">

   <head>
      {{> _meta}}
      <meta name='description' content='Admin Login Panel' />
      <link rel='stylesheet' href='/assets/css/admin.css' />
      {{{_sections.head}}}
   </head>

   <body>
      {{{body}}}
      {{> _footer}}
      <script src='/assets/js/admin.js'></script>
      {{{_sections.scripts}}}
   </body>

</html>