{{> _navigation}}
<main class="about">
   <h1>About JavaTechnovation&copy; Enterprise</h1>
   {{#if fortune}}
      <p>Your fortune for the day:</p>
      <blockquote>{{fortune}}</blockquote>
   {{/if}}
</main>