{{> _navigation}}
<main>
   <section class="company-profile">
      <article class="bg-dark text-light">
         <h1 class="title text-center p-4 fs-1 fw-bold">Our Formidable Profile</h1>
         <div class="hstack text-center p-5">
            <p class="lead"><span class="ours">JavaTechnovation</span> est. 2002, is a professional
               software development company and information technology service provider, with more
               than 20 years experience in developing quality systems for clients globally in the
               USA, UK, France, Nigeria, etc. </p>
            <div><img class="img-fluid" src="/assets/images/coder.svg" alt="IT company"></div>
         </div>
      </article>
      <article class="hstack text-center p-5">
         <div><img src="/assets/images/business.svg" alt="customers" class="img-fluid"></div>
         <p class="lead fs-1">The heart of what<br /><span class="ours">WE DO</span><br />lies with
            what<br /><span class="theirs">YOU WANT!</span></p>
      </article>
   </section>
   <p> JavaTechnovation was formally known as mavenSoft in USA. The Federal Government of Nigeria
      called on Nigerian professionals in Diaspora to render their services domestically. The
      company in a bid to imply patriotism, gave heed to the farcry. In 2002 we established offices
      in Nigeria as an indigenous software development company offering the country world-class
      software products at affordable prices. </p>
   <p> Today, JavaTechnovation has developed and released three software products into the Nigerian
      market: IAMS©, an insurance agency management software) - in addition, IAMS© is in use across
      USA by insurance companies - it is originally financed by Lloyd's of London for use by its
      insurance policy underwritersfor auto, earthquake, flood, commercial and all perils; medSOFT®,
      a medical practice management software for doctors, hospitals, clinics and health centers; and
      visualOFFICE©, a high-performance productivity-oriented and profit-driven sofware tool for any
      business enterprise. Members of visualOFFICE includes visualSTORE, a point of sale and
      inventory control software for supermarkets and stores, visualPHARMACY, a point of sale
      software for pharmacy stores, and visualSERVICE, a point of sale for business centers. </p>
</main>